#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  width: 100%;
  padding: 2rem;
  /* text-align: center; */
  box-sizing: border-box;
}

.rdt_Table {
  background-color: #58508d !important;
  border: 3px solid #58508d !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

@keyframes table-row-anim {
  0% {
    opacity: 0;
    transform: translateX(50px) scale(350%);
  }
  50% {
    transform: translateX(-25px) scale(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(100%);
  }
}

.rdt_TableRow {
  opacity: 0;
  animation: table-row-anim 0.5s forwards;
  border-bottom-color: #58508d !important;
}

.rdt_TableHeadRow {
  background-color: #58508d !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-color: #58508d !important;
}

.rdt_TableCol {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
